
/*body {
        background-color: rgb(68, 68, 68);
        color: rgb(32, 32, 32);
 
}*/

#titlearea {    /*Website Footer*/
        background-color: #303030;
        color:rgb(200, 200, 200);

        padding: 0px;
        margin: 0px;
        width: 100%;
        border-bottom: 2px solid rgb(22, 22, 22);
    }

#nav-tree {
        background-image: none;
        background-repeat: repeat-x;
        background-color: #303030;
        -webkit-overflow-scrolling: touch;
}

#nav-tree a{
        color: rgb(200, 200, 200);
        
        
}


/*------------------------*/
#side-nav {/*Side Panel*/
        background-color: #303030;
        color:rgb(31, 31, 31);

        padding: 0 6px 0 0;
        margin: 0px;
        display: block;
        position: absolute;
        left: 0px;
        width: 250px;
}


.arrow {/*arrows inside Side Panel*/
        color: rgb(200, 200, 200);
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        font-size: 80%;
        display: inline-block;
        width: 16px;
        height: 22px;
}
/*------------------------*/


#nav-tree-contents {
        color: black;
        margin: 10px 0px 0px 0px;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}

div.header {/*Title Bar*/
        background-image: none;
        background-color: rgb(54, 54, 54);
        color: rgb(200, 200, 200);
        border-radius : 0px;
}



.ui-resizable-e {/*Dragable Divider*/
        background-image: none;
        background-color: rgb(22, 22, 22);
        background-size: 100%;
        background-repeat: repeat-y;
        background-attachment: scroll;
        cursor: ew-resize;
        height: 100%;
        right: 0;
        top: 0;
        width: 6px;
}

#nav-tree .selected { /*Selected Item In Toolbar*/
        background-image: none;
        background-color: rgb(22, 22, 22);
        background-repeat: repeat-x;
        color: rgb(200, 200, 200);
        text-shadow: 0px 1px 1px rgb(0 0 0);
}

hr.footer {     /*Website Footer*/
        display: none;
}

.footer {       /*Website Footer*/
        display: none;
        background-color: rgb(241, 0, 0);
}

div.contents {  /*Contents Menu (biggest tile)*/
        /*background-color: rgb(65, 65, 65);*/
        margin-top: 10px;
        margin-left: 12px;
        margin-right: 8px;
    }